*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    
}


/* Hide Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


 .heroSwiper {
    width: 100%;
    overflow: visible;
  }

  .heroSwiper .swiper-slide {
    height: auto;
  }


   /* ACTIVE CENTER CARD */

  

  /* PAGINATION */

  .testimonialSwiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: #d4d4d8;
    opacity: 1;
    transition: 0.4s;
  }

  .testimonialSwiper .swiper-pagination-bullet-active {
    width: 38px;
    border-radius: 30px;
    background: #1E3A2F;
  }



  .social-icon{

  width: 48px;
  height: 48px;

  border-radius: 9999px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;

  color: white;

  background: rgba(255,255,255,0.18);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.25);

  transition: all 0.3s ease;

}

.social-icon:hover{

  background: #D4A437;

  color: #1F1F1F;

  transform: translateY(-4px);

}